{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet"  href="{% static 'crud/css/form.css' %}">
{% endblock %}

{% block title %}
	Form to Posts
{% endblock %}
 
{% block content %}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <form action="" method="post">{% csrf_token %}
                {{ form.as_p }}
            <input id="btn-submit" type="submit" class="btn btn-success" value="Submit">
            <a id="a-cancel" href="{% url 'list_posts' %}" class="btn btn-default">Cancel
            </a>
        </form>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
	 <div class="navbar navbar-inverse navbar-fixed-bottom">
	 	<center style="padding-top: 12px">
	 		<small style="color: #fff">Footer Form</small>
	    </center>
	</div>
{% endblock %}
