{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
<link rel="stylesheet"  href="{% static 'crud/css/posts.css' %}">
{% endblock %}

{% block title %}
	List of Posts
{% endblock %}

{% block content %}
<div class="row">
   {% if request.session.user_type == 2 %}
   <div class="panel text-center">
      Show posts from: <select id="sel_user" name="sel_user">
         <option value="0" selected>All users</option>
         {% for user in users %}
            <option value="{{ user.id }}">{{ user.real_name }}</option>
         {% endfor %}
      </select>
   </div>
   {% endif %}
</div>
<div class="row">
   {% if messages %}
   <div class="alert alert-success">
   {% for message in messages %}
      {{ message }}
   {% endfor %}
   </div>
   {% endif %}
   <div class="panel panel-default">
      <div class="panel-body" id="panel_posts">
         <h2>POSTS</h2>
         <div id="posts_list">
            {% include 'posts_list.html' %}
         </div>
      </div>
   </div>
</div>
{% endblock %}

{% block footer %}
   <div class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="text-center" style="padding-top: 12px">
         <small style="color: #fff">Footer Posts List</small>
      </div>
   </div>
{% endblock %}

{% block js %}
   <script src="{% static 'js/ajax_support.js' %}"></script>
   <script >var url_filter_posts = "{% url 'filter_posts' %}";</script>
   <script src="{% static 'crud/js/posts.js' %}"></script>
{% endblock %}