{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
   <title>Login</title>
   <meta charset="UTF-8">
   <link rel="stylesheet"  href="{% static 'css/bootstrap-theme.min.css' %}">
   <link rel="stylesheet"  href="{% static 'css/bootstrap.min.css' %}">
   <link rel="stylesheet"  href="{% static 'entry/css/messagebox.css' %}">
   <link rel="stylesheet"  href="{% static 'entry/css/login.css' %}">
</head>
<body>
   <div class='container'>
      <div class='row'>
         <img id="logo" name="logo" src="{% static 'img/logo.png' %}" class="center-block"
              alt="logo" />
         <div class='col-md-4 col-md-push-4'>
            {% if messages %}
            <div class="alert
                     {% if request.session.res == 'Err' %} alert-danger
                     {% else %} alert-success {% endif %}">
               {% for message in messages %}
                  {{ message }}
               {% endfor %}
            </div>
            {% endif %}
            <form id="form_main" method="POST" action="{% url 'home' %}">
               {% csrf_token %}
               <div class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control" id="username"
                         name="username" placeholder="Put your username here">
                  {{ form.username }}
               </div>
               <div class="form-group">
                  <label for="passwd">Password:</label>
                  <input type="password" class="form-control"
                         id="passwd" name="passwd" placeholder="Put your password here">
                  {{ form.passwd }}
               </div>
               <div class="checkbox">
                  <label><input type="checkbox" name="remember" id="remember">Remember me
                  </label>
                  <div style="float: right">
                     <a id="help_user" href="" data-toggle="tooltip"
                        data-placement="auto bottom" title="user1: admin, admin123
user2: john, john0123">
                        <img src="{% static 'entry/img/info.png' %}"
                             style="height: 24px; width: auto; ">
                     </a>
                  </div>
               </div>
               <div id="div_btn_login">
                  <button type="submit" class="btn btn-info">E N T R Y</button>
               </div>
            </form>
         </div>
      </div>
   </div>
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="{% static 'entry/js/jquery.messagebox.min.js' %}"></script>
   <script src="{% static 'entry/js/login.js' %}"></script>
</body>
</html>
